body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}

.page-loading {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(12px);
    background: #000000b3;
    .loading-box {
        width: 60px;
        height: 60px;
        border-radius: 8px;
        box-shadow: $card-shadow;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $back-color;
    }
}

.container {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 1120px) {
        margin-right: 20px;
        margin-left: 20px;
        max-width: calc(100% - 64px);
    }
    @media (max-width: 762px) {
        margin-right: 16px;
        margin-left: 16px;
        max-width: calc(100% - 32px);
    }
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(4px);
    @media (max-width: 992px) {
        position: absolute;
    }
}
.header-content {
    margin-top: 20px;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1120px) {
        max-width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }
    .header-left {
    }
    .header-center {
        ul {
            list-style: none;
            display: flex;
            li {
                margin-right: 15px;
                margin-left: 15px;
                a {
                    padding: 20px 15px;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: $font-main;
                    font-size: 14px;
                    font-weight: bold;
                    text-decoration: none;
                    transition: all 0.3s;
                    &.active {
                        color: #8873ff;
                    }
                    &:hover {
                        color: #8873ff;
                    }
                }
            }
        }
        @media (max-width: 992px) {
            display: none;
        }
    }
    .header-right {
        display: flex;
        align-items: center;

        @media (max-width: 1400px) {
        }
        @media (max-width: 992px) {
            margin-right: 0;
        }
    }
}
.social-link {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 50px;
        transition: all 0.3s;
        @media (max-width: 576px) {
            height: 30px;
        }
    }
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        img {
            filter: brightness(0.8);
        }
    }
}
.header-wallet {
    right: 23px;
    top: 38px;
    display: flex;
    @media (max-width: 992px) {
        display: flex;
        align-items: center;
        .mobile-menu {
            margin-left: 16px;
            z-index: 100;
        }
    }
}
button {
    cursor: pointer;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col-12 {
    width: calc(100% - 40px);
    margin-right: 20px;
    margin-left: 20px;
    @media (max-width: 992px) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}
.col-half {
    width: calc(50% - 40px);
    margin-right: 20px;
    margin-left: 20px;
    @media (max-width: 992px) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}
.col-3 {
    width: calc(25% - 30px);
    margin-right: 15px;
    margin-left: 15px;
}
.mt-10 {
    margin-top: 10px;
}
.pb-80 {
    padding-bottom: 80px;
}
.mobile-menu {
    display: none;
    @media (max-width: 992px) {
        display: block;
        button {
            margin-left: 16px;
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.mobile-nav {
    display: none;
    @media (max-width: 992px) {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        ul {
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px 0;
                a {
                    font-family: $font-second;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.MuiOutlinedInput-notchedOutline {
    border-color: #fff3 !important;
}
.MuiSelect-select {
    color: #fff !important;
    font-family: $font-second !important;
}
.MuiSelect-icon {
    color: #fff3 !important;
}
.MuiTouchRipple-root {
    font-family: $font-second !important;
}
.MuiRadio-root {
    .MuiSvgIcon-root {
        fill: #fff !important;
    }
}
.MuiTypography-root {
    font-family: $font-main !important;
}
.MuiFormGroup-root {
    min-height: 56px !important;
}
.winner-address {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px 0;
}
.copy-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    .copied {
        color: $primary-color;
        font-weight: bold;
    }
}
html {
    background-color: #1e1e1e;
}
.pt-220 {
    padding-top: 220px;
}
.main-box {
    border-radius: 10px;
    position: relative;
    h1 {
        width: 478px;
        background-color: rgba(0, 0, 0, 0.25);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
        border-radius: 10px;
        border: 1px solid #0fdc82;
        font-family: "Archivo";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
        color: #ffffff;
    }

    .main-box-content {
        padding: 30px;
        position: relative;
        background: linear-gradient(92.79deg, #373737 0%, #2b2b2b 100%);
        border-radius: 8px;
        z-index: 2;
    }
    &::before {
        margin: -2px;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        background: linear-gradient(120.66deg, #10e086 0%, #a5f9cf 100%);
        border-radius: 10px;
        z-index: 1;
    }
}

.mini-box {
    .mini-box-content {
        position: relative;
        background: #1e1e1e;
        border-radius: 8px;
        z-index: 2;
    }
    &::before {
        content: "";
        margin: -1px;
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background: linear-gradient(120.66deg, #10e086 0%, #a5f9cf 100%);
        border-radius: 10px;
        z-index: 1;
    }
}

.link-buttons {
    display: flex;
    gap: 16px;
}

.img-button {
    width: 180px;
    cursor: pointer;
    text-align: center;
    .img-box {
        width: 180px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1e1e1e;
        border: 1px solid #0fdc82;
        border-radius: 15px;
        img {
            display: block;
            &.hover {
                display: none;
            }
        }
        &:hover {
            background-color: #0fdc82;
            img {
                display: none;
                &.hover {
                    display: block;
                }
            }
        }
    }
    p {
        font-family: "Archivo";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
        text-align: center;
        margin-top: 16px;
        color: #ffffff;
    }
}

.top-value-banner {
    display: flex;
    gap: 20px;
    text-align: center;
    .main-box {
        width: calc(25% - 10px);
        &:last-child {
            width: calc(50% - 10px);
        }
    }
}
.total-values {
    p {
        font-family: "Archivo";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        text-align: center;

        color: #ffffff;
    }
    h2 {
        font-family: "Archivo";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 39px;
        text-align: center;
        color: #ffffff;
        margin-top: 16px;
        span {
            font-family: "Archivo";
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 39px;
            color: #0fdc82;
            margin-right: 20px;
        }
    }
}
.top-value-banner .main-box .main-box-content {
    padding: 16px;
}

.top-value-banner-two {
    margin-top: 58px;
    position: relative;
    h1 {
        font-family: "Archivo";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 35px;
        text-align: center;

        color: #ffffff;
    }
    .collect-rewards {
        font-family: "Archivo";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 17px;
        text-transform: uppercase;
        padding: 8px 14px;
        color: #ffffff;
        background-color: transparent;
        border-radius: 30px;
        border: 1px solid #0fdc82;
        position: absolute;
        right: 0;
        top: 0;
        &:hover {
            background-color: #a5f9cf;
            color: #1e1e1e;
        }
        &:active {
            background-color: #0fdc82;
            color: #1e1e1e;
        }
    }
    .two-content {
        display: flex;
        gap: 20px;
        margin-top: 32px;
        .main-box {
            &:first-child {
                width: calc(60% - 10px);
            }
            &:last-child {
                width: calc(40% - 10px);
            }
            .main-box-content {
                padding: 14px;
            }
        }
    }
}

.collection-box {
    margin-top: 32px;
    h3 {
        font-family: "Archivo";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 35px;

        color: #ffffff;
    }
    .action-buttons {
        position: absolute;
        right: 32px;
        top: 32px;
    }
}
.btn-action {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    padding: 8px 16px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #1e1e1e;
    border: 1px solid #0fdc82;
    border-radius: 50px;
    margin-left: 8px;
    &:hover {
        background-color: #a5f9cf;
        color: #1e1e1e;
    }
    &:active {
        background-color: #0fdc82;
        color: #1e1e1e;
    }
}
.nft-gallery {
    display: flex;
    gap: 16px;
    margin-top: 32px;
    flex-wrap: wrap;
    &.staked-gallery {
    }
}
.unstaked-card {
    width: 128px;
    height: 128px;
}
.nft-card {
    position: relative;
    cursor: pointer;
    .nft-id {
        position: absolute;
        left: 8px;
        top: 8px;
        font-family: "Archivo";
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 10px;
        color: #1e1e1e;
        background-color: #0fdc82;
        border-radius: 40px;
        padding: 2px 6px;
        z-index: 8;
    }
    .staked-label {
        position: absolute;
        font-family: "Archivo";
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 10px;
        text-align: center;
        background-color: #1e1e1e;
        border-radius: 30px;
        color: #ffffff;
        right: 8px;
        z-index: 20;
        padding: 3px 6px;
        top: 8px;
    }
    .selected {
        position: absolute;
        left: 0;
        top: 0;
        width: 128px;
        height: 128px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(4px);
        border-radius: 15px;
        background-color: #a5f9cf80;
        p {
            color: #1e1e1e;
            font-family: "Archivo";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 17px;
            text-align: center;
        }
    }
}
.nft-image {
    width: 128px;
    height: 128px;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        position: relative;
        z-index: 1;
    }
    &::before {
        content: "";
        border-radius: 15px;
        background-color: #a5f9cf80;
        position: absolute;
        top: 0;
        left: 0;
        width: 128px;
        height: 128px;
        z-index: 2;
        display: none;
    }
    &:hover {
        &::before {
            display: block;
        }
    }
}

.empty-image {
    width: 128px;
    height: 128px;
    background: #434343;
    border-radius: 15px;
}

.footer {
    max-width: 1180px;
    border-top: 1px solid #a5f9cf;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    .footer-content {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #ffffff;
        padding-top: 28px;
        padding-bottom: 28px;
    }
}

.box-overlay {
    position: absolute;
    backdrop-filter: blur(4px);
    left: 0;
    top: 0;
    width: calc(100% - 64px);
    padding: 32px;
    border-radius: 10px;
    background: #1e1e1e;
    z-index: 100;
    .overlay-content {
        position: relative;
        z-index: 10;
    }
}

.overlay-back {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #00000054;
    height: 100vh;
    width: 100%;
    z-index: 2;
    backdrop-filter: blur(5px);
}
button {
    cursor: pointer;
}
.p-text-1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #a5f9cf;
    margin-top: 16px;
}

.plans-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    gap: 15px;
}
.plan-item {
    border: 1px solid #0fdc82;
    border-radius: 10px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    width: calc(25% - 15px);
    h4 {
        font-family: "Archivo";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        text-align: center;

        color: #ffffff;
    }
    p {
        font-family: "Archivo";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        text-align: center;
        color: #ffffff;
        margin-top: 16px;
        margin-bottom: 22px;
    }
    button {
        font-size: 16px;
        line-height: 17px;
        color: #ffffff;
        border-radius: 50px;
        border: 1px solid #0fdc82;
        background-color: transparent;
        padding: 8px 30px;
        transition: all 0.3s;
        &:hover {
            transition: all 0.3s;
            background: #0fdc82;
            color: #000;
        }
    }
}

.overlay-close {
    position: absolute;
    right: 32px;
    top: 32px;
    border: none;
    background-color: transparent;
    z-index: 99;
}

.staked-card {
    background-color: #1e1e1e;
    padding: 16px 14px;
    border-radius: 15px;
    position: relative;
    .staked-content {
        .content-head {
            position: relative;
            border-bottom: 1px solid #a5f9cf;
            margin-top: 16px;
            padding-bottom: 8px;
            h3 {
                font-family: "Archivo";
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 20px;
                color: #ffffff;
            }
            .reward-mark {
                position: absolute;
                right: 0;
                bottom: 8px;
                font-family: "Archivo";
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 11px;
                text-align: right;

                color: #ffffff;
            }
        }
        .box {
            text-align: center;
            h4 {
                font-family: "Archivo";
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 15px;
                text-align: center;
                margin: 7.5px 0;
            }
        }
    }

    .staked-overlay {
        display: none;
    }
    &:hover {
        .staked-overlay {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            flex-wrap: wrap;
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100%);
            height: calc(100%);
            border-radius: 15px;
            z-index: 99;
            background-color: #a5f9cfc7;
            backdrop-filter: blur(4px);
            .mark {
                font-family: "Archivo";
                font-style: normal;
                font-weight: 400;
                font-size: 9px;
                line-height: 10px;
                text-align: center;
                background-color: #000;
                color: #ffffff;
                padding: 3px 8px;
                margin-top: 48px;
                border-radius: 30px;
            }
            img {
                width: 54px;
                margin-top: 32px;
                margin-bottom: 32px;
            }
            button.overlay-collect {
                cursor: pointer;
                font-family: "Poppins";
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 20px;
                text-align: center;
                background-color: #1e1e1e;
                color: #ffffff;
                border: none;
                border-radius: 15px;
                padding: 10px;
                transition: all 0.3s;
                &:hover {
                    background-color: #2e2e2e;
                }
            }
        }
    }
}
