.wallet-adapter-button {
    background-color: transparent !important;
    font-family: $font-main !important;
    text-transform: uppercase;
    border: 1px solid #0fdc82 !important;
    font-size: 14px !important;
    padding: 8px 13px !important;
    height: 36px !important;
    border-radius: 100px !important;
    font-weight: 500 !important;
    background-color: #1e1e1e !important;
}
.wallet-adapter-modal-list .wallet-adapter-button {
    border-color: transparent !important;
}

.countdown {
    display: flex;
    justify-content: space-between;
    .count-item {
        p {
            font-family: "Archivo";
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 11px;
            text-align: center;
            color: #fff;
        }
        h5 {
            font-family: "Archivo";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            margin-top: 2px;
            color: #ffffff;
        }
    }
}

.progress-bar {
    width: 100%;
    height: 9px;
    background-color: #dbffed;
    margin-top: 8px;
    margin-bottom: 8px;
    .bar {
        background: #0fdc82;
        height: 9px;
    }
}
